---
import FullWidthLayout from "../../layouts/full-width.astro";
import {getCollection} from "astro:content";
import {truncateStringToLength} from "../../lib/utils";

const events = await getCollection('events');
---

<FullWidthLayout title="Events">
    <ol class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-12 gap-x-12">
        {events.map((entry) => {
            return (
                    <li class="shadow-xl bg-light-surface dark:bg-dark-surface rounded-lg overflow-clip">
                        <div class="h-48 bg-white overflow-clip flex items-center justify-center">
                            <img src={"/assets/og/default.jpg"} alt="Event Cover" class="w-auto h-auto"/>
                        </div>
                        <a href={`/events/${entry.slug}`} class="flex px-6 pt-4 pb-6 flex-col gap-y-2">
                            <time class="block font-light text-orange-600">{entry.data.date}</time>
                            <span class="block text-xl font-bold">{entry.data.title}</span>
                            {entry.data.summary && <span class="block text-sm font-light">{truncateStringToLength(entry.data.summary, 120)}</span>}
                        </a>
                    </li>
            )
        })}
    </ol>
</FullWidthLayout>